body{
    background-color: blue;
    color:black;

}

section{
    background-color: lightslategray;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}