body{
    background-color: rgb(0, 4, 255);
    color:black;

}

.chamada{
    background-color: rgb(22, 183, 201);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 10%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}